@model GroupCoursework.Models.Actor

@{
    ViewData["Title"] = "Create";
}
<style>
body{
background-image:url("../images/10.jpg");
background-repeat:no-repeat;
background-size:cover;
}
</style>
<body>

<div class="bg-image">
  <div class="container mt-5 mb-5">
    <div class="card" style="opacity: 85%;background-color:#F2D8B3">
      <div class="card-header">
        <h1 class="text-center" style="font-weight:850; color:#CD8F64;">Create</h1>
        <h4 class="text-center" style="font-weight:800; color:#CD8F64;">Actor</h4>
      </div>
      <div class="card-body">
    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="ActorFirstName" class="control-label"></label>
                <input asp-for="ActorFirstName" class="form-control" />
                <span asp-validation-for="ActorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ActorSurname" class="control-label"></label>
                <input asp-for="ActorSurname" class="form-control" />
                <span asp-validation-for="ActorSurname" class="text-danger"></span>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <input type="submit" value="Create" class="btn"  style="background-color: #CD8F64; font-weight:700; font-size: 20px; border-radius:50px; height:60px; width:200px; border:#CD8F64; color:#F2D8B3;"/>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div>

</div>
</div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}