
@{
    ViewData["Title"] = "GetDVDofNoLoan";
}
<style>
body{
            background-image: url("../images/10.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover
}
</style>
<body>
    <div class="container">
    <h1 style="color: white; text-align:center;">GetDVDofNoLoan</h1>
    <div class="card" style="opacity:80%;">
    <table class="table">
        <thead>
            <tr>
                <th>DVD Title Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.dvd)
            {
                <tr>
                    <td>@item.dvdTitle.DvdTitle</td>
                </tr>
            }
        </tbody>
        </div>
    </table>
    </div>
</body>

